[defaults]
# Default library type is cDNA
drna = false

# Default cDNA reads library kit
cdna = PCB114

# Default max cpu
max_cpu = 40

# Default fastcat opts
fastcat_opts = -x

# Default pychopper opts
pychopper_backend = edlib

# Default minimap2 options
# minimap reference indexing options:
minimap2_index_opts="-k 14"

minimap2_drna_tx_opts="-ax map-ont --for-only -p 1.0"   
minimap2_cdna_tx_opts="-ax map-ont -p 1.0"

# Default alignment filtering options
aln_filtering_opts=""

# Default reference files
ref_transcriptome=hg38.transcripts.fa.gz
ref_annotation=gencode.v23.annotation.transcripts.gtf
